@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 8rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1rem;
}


html, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}